<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card.title) {
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-card-title>
            {{ card.title }}
            <button
              matIconButton
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <mat-radio-group [(ngModel)]="ChoosenEntity">
                @for (item of entities; track item) {
                <mat-radio-button class="entity-radio-button" [value]="item">{{
                  item
                }}</mat-radio-button>
                }
              </mat-radio-group>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="dashboard-card-content">
          <div class="entity-stats">
            <p>Active {{ ChoosenEntity }} : xxxx</p>
            <p>Totall {{ ChoosenEntity }} : xxxx</p>
          </div>
          <div class="chart-container">
            <canvas
              baseChart
              [data]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [type]="'bar'"
            >
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
