.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-header {
  margin-bottom: 0.5rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  margin-top: 0.5rem;
}

.entity-radio-button {
  display: block;
  width: 100%;
}

.entity-stats {
  display: flex;
  gap: 2rem ;
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}

.chart-container{
  height: 200px;
}
